.activeted{
  color: red;
  font-size: 2rem;
}
.disable{
  color: blue;
  font-size: 2rem;
}
a{
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}